@model IEnumerable<AgileFood.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuários</h2>
<div style="margin-bottom: 50px;">
    @using (Ajax.BeginForm("Index", "Usuarios", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listaUsuarios"
    },
    new { @Style = "float: left;" }))
    {
        @Html.TextBox("pesquisaNome", null, new { onkeyup = "$(this.form).submit();", @class = "form-control input-pesquisa" , placeholder = "Nome" })
        @Html.DropDownList("pesquisaTipo", EnumHelper.GetSelectList(typeof(AgileFood.Models.TipoDeUsuario)), "Tipo", new { onchange = "$(this.form).submit();", @class = "form-control input-pesquisa" })
    }
    <p class="bt-adicionar-float">@Html.ActionLink("Cadastrar", "Cadastrar", null, new { @class = "btn btn-primary btn-large"})</p>
</div>

@Html.Partial("_Usuarios", Model)