@model IEnumerable<AgileFood.Models.Fornecedor>

@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>
<div style="margin-bottom: 50px;">
    @using (Ajax.BeginForm("Index", "Fornecedores", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listaFornecedores"
    },
    new { @Style = "float: left;" }))
    {
        @Html.TextBox("pesquisaNome", null, new { onkeyup = "$(this.form).submit();", @class = "form-control input-pesquisa", placeholder = "Nome" })
        @Html.DropDownList("pesquisaStatus", new List<SelectListItem>{
                new SelectListItem{ Text="Status", Value = null, Selected = true },
                new SelectListItem{ Text="Ativado", Value = "1" },
                new SelectListItem{ Text="Desativado", Value = "0" }},
                new{onchange = "$(this.form).submit();", @class = "form-control input-pesquisa"})
    }
    <p class="bt-adicionar-float">@Html.ActionLink("Adicionar", "Adicionar", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

@Html.Partial("_Fornecedores", Model)