@model AgileFood.Models.Categoria

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar @Html.DisplayFor(model => model.Nome)</h2>

<h3>Você tem certeza?</h3>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sim" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
