@section Scripts {
    <script type="text/javascript">
        function OpenCreatePopup() {
            var div = $("#popup-escolher-fornecedor");
            div.dialog({
                modal: true,
                width: 320,
                height: 400,
                title: "Escolha o Restaurante",
                resizable: false
            });
        }
    </script>
}

@{
    ViewBag.Title = "Início";
}

<div class="row" style="margin: 25px 0px">
    <div class="col-md-3 div-info-home">
        <div class="div-info-home-header">
            <p>Total de pedidos no mês</p>
        </div>
        <div class="div-info-home-area">
            <p>@Html.Raw(ViewBag.TotalPedidosNoMes)</p>
        </div>
    </div>

    <div class="col-md-3 div-info-home">
        <div class="div-info-home-header">
            <p>Valor dos pedidos no mês</p>
        </div>
        <div class="div-info-home-area">
            @{ String valor = string.Format("{0:N}", ViewBag.ValorTotalPedidosNoMes); }
            <p>R$ @valor</p>
        </div>
    </div>

    <div class="col-md-3 div-info-home">
        <div class="div-info-home-header">
            <p>Total de pedidos de hoje</p>
        </div>
        <div class="div-info-home-area">
            <p>@Html.Raw(ViewBag.TotalPedidosHoje)</p>
        </div>
    </div>

    <div class="col-md-3 div-info-home" style="border-width: 1px">
        <div class="div-info-home-header">
            <p>Valor dos pedidos de hoje</p>
        </div>
        <div class="div-info-home-area">
            <p>@Html.Raw(ViewBag.ValorTotalPedidosHoje)</p>
        </div>
    </div>
</div>

<div class="col-md-12">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>