@model IEnumerable<AgileFood.Models.Fornecedor>

@section Scripts {
    <script type="text/javascript">
        function OpenCreatePopup() {
            var div = $("#popup-escolher-fornecedor");
            div.dialog({
                modal: true,
                width: 320,
                height: 400,
                title: "Escolha o Restaurante",
                resizable: false
            });
        }
    </script>

}

@{
    ViewBag.Title = "Início";
}

<div>
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a onclick="OpenCreatePopup()" class="btn btn-primary btn-lg">Fazer Pedido</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div id="popup-escolher-fornecedor" style="display: none">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Escolher", "Escolher", new AgileFood.Models.Fornecedor() { Id = item.Id, Nome = item.Nome })
                </td>
            </tr>
        }

    </table>
</div>