@model IEnumerable<AgileFood.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Meus produtos</h2>
<div style="margin-bottom: 50px;">
    @using (Ajax.BeginForm("Index", "Usuarios", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listaProdutos"
    },
    new { @Style = "float: left;" }))
    {
        @Html.DropDownList("pesquisaCategoria", EnumHelper.GetSelectList(typeof(AgileFood.Models.Categoria)), "Categoria", new { onchange = "$(this.form).submit();", @class = "form-control input-pesquisa" })
        @Html.DropDownList("pesquisaStatus", new List<SelectListItem>{
                new SelectListItem{ Text="Status", Value = null, Selected = true },
                new SelectListItem{ Text="Disponível", Value = "1" },
                new SelectListItem{ Text="Indisponível", Value = "0" }},
                new{onchange = "$(this.form).submit();", @class = "form-control input-pesquisa"})
    }
    <p class="bt-adicionar-float">@Html.ActionLink("Adicionar", "Adicionar", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

@Html.Partial("_Produtos", Model)