.custom-combobox {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -27px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    background-color: #fff;
    width: 100%;
}

.ui-autocomplete {
    z-index: 5000;
    max-height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
}
