body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin {
    max-width: 285px;
    padding: 15px;
    margin: 0 auto;
}

.div-info-home {
    background-color: #f6f6f6;
    border: #c8c8c8 solid;
    border-width: 1px 0px 1px 1px;
    padding: 0;
}

.div-info-home-header {
    width: 100%;
    height: 50px;
    background: #35baf6;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 19px;
}

.div-info-home-area {
    padding: 10px 15px;
    font-size: 20px;
}

.dia-cardapio {
    border-width: 2px;
    border-color: #333;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0px 6px 6px 0px;
    min-height: 150px;
    float: left;
    background-color: aliceblue;
    width: 16.20%;
}

    .dia-cardapio:last-child {
        margin-right: 0px;
    }

#cardapio-semana {
    width: 100%;
    display: inline-block;
}

#produtos-cardapio, #seu-pedido {
    padding: 10px 15px;
    margin-top: 10px;
}

.input-login {
    width: 280px;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    border-radius: 5px;
}

.input-pesquisa {
    margin-right: 3px;
    float: left;
    width: auto;
}

.bt-adicionar-float {
    float: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    color: #333;
    border-top: 1px #ddd solid;
}

.dropdown-header-bt {
    background-color: #32404e;
    border: none;
    color: #9d9d9d;
}

@media (max-width: 900px) {
    .dia-cardapio {
        min-height: 120px;
        min-width: 155px;
    }
}


@media (max-width: 400px) {
    .bt-adicionar-float {
        float: left;
        margin-left: 10px;
    }
}
