@model IEnumerable<AgileFood.Models.Pedido>

<div id="listaPedidos">
    <table class="table">
        <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Itens</th>
            <th>Fornecedor</th>
            <th></th>
        </tr>
        @{double valorTotal = 0;}
        @foreach (var item in Model)
        {
            valorTotal += item.ValorTotal;
            String valor = string.Format("{0:N}", item.ValorTotal);

            <tr>
                <td>@item.DataDeRegistro.ToString("dd/MM/yyyy")</td>
                <td>
                    R$ @valor
                </td>
                <td>
                    @{string it = ""; string fornecedor = ""; }
                    @foreach (var ip in item.Itens)
                    {
                        it = String.Concat(it,ip.Quantidade + " " + ip.Produto.Nome+", ");
                        fornecedor = ip.Produto.Fornecedor.Nome;
                    }
                    @it
                </td>
                <td>
                    @fornecedor
                </td>
                <td>
                    @Html.ActionLink(" ", "Detalhes", new { id = item.Id }, new { @class = "btn btn-info btn-sm glyphicon glyphicon-list" })
                </td>
            </tr>
        }
        <tr>
            <td style="text-align: right;font-weight: bold;">Total:</td>
            @{String valortotal = string.Format("{0:N}", valorTotal);}
            <td style="font-weight: bold">R$ @valorTotal</td>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>